
canvas {
    margin: 0 auto;
    border: 1px solid rgb(180, 180, 180);
    margin-top: 70px;
    border-radius: 18px;
    box-shadow: 1px 5px 18px rgba(34, 31, 31, 0.304);
}

#body {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/background.png");

    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(25px);
    box-shadow: inset 0px -88px 88px rgb(80, 34, 96)
}

#logo {
    position: absolute;
    top: 55px;
    left: 40%;
    user-select: none;
}

#main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: -webkit-fill-available
}